@import 'variables';

.header {
    &__titulo{
        background-color:$color_fondo;
        padding: $padding_sec;
        margin: map-get($map: $margin, $key: base);  /* MAP GET */
        text-align: center;
    }
    
    div{
        h1{
            color: rgb(255, 244, 244);
            transition: 1s linear;
            font-weight: 700;
        }
        h1:hover{
            text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff;
        }
    }

    &__imagen{
        background-color: $color_fondo;
        padding: $padding_sec;
        margin: map-get($map: $margin, $key: base); /* MAP GET */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: $borde_n;
            p{
                color: white;
                font-weight: 700;
            }
    }
                
}
            
        
            
/* EXTEND */            
.header__imagen--large{
    @extend .header__imagen;
    font-size: large;
}

    
        
        

    