@import 'variables';

main{
    div{
        background-color: $color_fondo;
        padding: $padding_sec;
        margin: map-get($map: $margin, $key: base);
        display: grid;
        justify-content: center;
        p{
            color: white;
            font-size: large;
        }
        table{
            color: white;
            
            
        }
        
    }
}

