@import 'variables';

section{
  
    div{
        h2{
            color: white;
            margin: 10px;
        }
        form{
            border: solid white 2px;
            color: white;
        }
    }
}

@mixin estilo__prin { /* MIXING */
    
    background-color: $color_fondo;
    padding: $padding_sec;
    margin: map-get($map: $margin, $key: base);
    display: grid;
}


.estilo__prin{
    @include estilo__prin;
}

.estilo__prin--center{
    @include estilo__prin;
    justify-content: center;
}

    